<div class="vehicle-app-container">
    <app-inner-header [title]="logoTitle"></app-inner-header>
<div class="vehicle-details-container">
    <div class="container h-100">
        <div class="row mt-5 mt-lg-0 gy-4 justify-content-end justify-content-sm-between height-100">

            <div class="col-md-6 col-lg-5">
                <div class="form-card-container w-100">
                    <mat-card appearance="outlined" class="custom-card-outline vehicle-dtl-card px-3">
                        <mat-card-content>
                            <form [formGroup]="vehicleDtlForm">
                            <div class="row gy-4 form-fields-container">
                                    <div class="input-container">
                                        <p class="f-12 m-0 mb-1">RTO & City</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="MH-01 Mumbai" formControlName="rtoCity">
                                        </mat-form-field>
                                    </div>
                                    @if (vehicleDtlForm.get('rtoCity')?.valid) {
                                    <div class="date-container">
                                        <p class="f-12 m-0 mb-1">Manufacturing Year</p>
                                        <mat-form-field appearance="outline" class="w-100">                                           
                                            <input matInput [matDatepicker]="manufactDatePicker" placeholder="MM/DD/YYYY" (click)="manufactDatePicker.open()" formControlName="manufacturingYear">                                          
                                            <mat-datepicker-toggle matIconSuffix [for]="manufactDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #manufactDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    }
                                    @if (vehicleDtlForm.get('manufacturingYear')?.valid) {
                                    <div class="input-container">
                                        <p class="f-12 m-0 mb-1">Make Model</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="Hero Motorcorp Glamour" formControlName="makeModel">
                                        </mat-form-field>
                                    </div>
                                     }
                                     @if (vehicleDtlForm.get('makeModel')?.valid) {
                                    <div class="dropdown-container">
                                        <p class="f-12 m-0 mb-1">Variant</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select disableOptionCentering placeholder="Select Variant" formControlName="variant">
                                                <mat-option value="0">STD (125 CC)</mat-option>
                                                <mat-option value="1">IBS (125 CC)</mat-option>
                                                <mat-option value="2">Electric Start Drum Brake Cast Wheels
                                                    (125 cc) Petrol</mat-option>
                                                <mat-option value="3">SDD 250CC</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                   }
                                   @if (vehicleDtlForm.get('variant')?.valid) {
                                    <div class="date-container">
                                        <p class="f-12 m-0 mb-1">Registration Year</p>
                                        <mat-form-field appearance="outline" class="w-100">                                           
                                            <input matInput [matDatepicker]="regisDatePicker" placeholder="MM/DD/YYYY" (click)="regisDatePicker.open()" formControlName="registrationYear">                                          
                                            <mat-datepicker-toggle matIconSuffix [for]="regisDatePicker"></mat-datepicker-toggle>
                                            <mat-datepicker #regisDatePicker></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                }
                                    <div class="button-container compare-quotes d-flex gap-5 align-items-center mt-5">
                                        <button mat-stroked-button color="primary" class="semibold-font">
                                            <mat-icon class="custom-arrow-icon f-18">keyboard_backspace</mat-icon>
                                            Back                                            
                                        </button>
                                        <button [disabled]="vehicleDtlForm.invalid" mat-raised-button color="primary" class="semibold-font" (click)="getPolicyDtl()">Proceed
                                            <mat-icon class="custom-arrow-icon rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 col-xxl-4">
                <div class="d-flex flex-column justify-content-between align-items-end h-100">
                    <div class="form-card-container w-100 d-none d-md-block">
                        <mat-card appearance="outlined" class="custom-card-outline why-choose-card p-4 pe-2">
                            <mat-card-content>
                               <div class="why-choose-probus-content-container d-flex flex-column gap-5">
                                  <div class="inner-details d-flex align-items-center gap-4">
                                    <img src="vehicle-details/claim_assistance.svg" alt="claim-assistance">
                                    <p class="m-0 semibold-font f-18">Claim Assistance Anytime, Anywhere.</p>
                                  </div>
                                  <div class="inner-details d-flex align-items-center gap-4">
                                    <img src="vehicle-details/compare.svg" alt="compare">
                                    <p class="m-0 semibold-font f-18">Compare and Choose the Best Plan.</p>
                                  </div>
                                  <div class="inner-details d-flex align-items-center gap-4">
                                    <img src="vehicle-details/help-desk.svg" alt="help-desk">
                                    <p class="m-0 semibold-font f-18">24/7 Support Helpline.</p>
                                  </div>
                                  <div class="inner-details d-flex align-items-center gap-4">
                                    <img src="vehicle-details/policy-insurance.svg" alt="policy-insurance">
                                    <p class="m-0 semibold-font f-18">Instant Policy Issuance.</p>
                                  </div>
                                  <div class="inner-details d-flex align-items-center gap-4">
                                    <img src="vehicle-details/endorse-process.svg" alt="endorse-process">
                                    <p class="m-0 semibold-font f-18">Seamless Endorsement Process.</p>
                                  </div>
                               </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="bike-insuarnce-img-container text-end">
                        <img class="img-fluid" src="vehicle-details/bike-insurance.gif" alt="bike-insurance">
                    </div>
                </div>
               
            </div>
            
        </div>
    </div>
</div>
</div>