@mixin card-title-style($content, $position) {
    content: $content;
    position: absolute;
    top: -48px;
    z-index: -1;
    background-color: var(--primary);
    color: white;
    font-family: "Inter-sb";
    font-size: 2rem;
    border-radius: 18px;
    padding: 9px 55px 50px 28px;
    @if $position =="right" {
        right: -1px;
        padding: 9px 28px 50px 55px;
    }
    @else {
        left: -1px;
    }
}

::ng-deep .vehicle-details-container {
    .height-100 {
        min-height: calc(100vh - 61px);
        padding-top: 8rem;
        margin-top: 0rem;
    }
    .custom-card-outline {
        position: relative;
        border-radius: 10px;
        border-color: #0000000d;
        &.vehicle-dtl-card::before {
            @include card-title-style("Vehicle Details", "left");
        }
        &.why-choose-card::before {
            @include card-title-style("Why Choose Probus?", "right");
        }
    }
    .why-choose-probus-content-container {
        color: #5B5B5B;
    }
    ::ng-deep .compare-quotes {
        .mat-mdc-raised-button,
        .mat-mdc-outlined-button {
            padding: 24px 36px;
            border-radius: 10px;
        }
        .mdc-button__label {
            font-size: 1.6rem !important;
            font-family: 'inter-sb';
        }
    }
    .custom-arrow-icon {
        height: auto !important;
        width: auto !important;
        font-size: 2rem !important;
        &.rotate-icon {
            rotate: 180deg;
        }
    }
}

.bike-insuarnce-img-container{
    max-width: 360px;
}

// Media Query
@media screen and (max-width: 991px) {
    .vehicle-details-container{
    .height-100 {
        min-height: calc(100vh - 88px);
        padding-top: 3rem;
        margin-top: 3rem;
    }
}
}

@media screen and (max-width:575px) {
    .bike-insuarnce-img-container{
        max-width: 300px;
    }
}

@media screen and (max-width: 420px) {
    .vehicle-details-container{
    ::ng-deep .compare-quotes {
        .mat-mdc-raised-button,
        .mat-mdc-outlined-button {
            padding: 24px 23px;
        }
    }
}
}