@use '../../../mixins.scss' as *;

@mixin proposal-label-style{
    position: relative;
    .common-label-container{
        @include common-label-style('left', -37px); 
        padding: .9rem 3.5rem 3.9rem 2rem;
        font-size: 1.6rem;
      }  
}

.proposal-details-container {
    .kyc-left-section-container{
        @include proposal-label-style;
    }
    .kyc-left-section-container{
        @include proposal-label-style;
    }
    background-color: #F3FAFB;
    min-height: calc(100vh - 68px);
    position: relative;
    z-index: 0;
    .mat-mdc-card {
        box-shadow: none;
        outline: 1px solid rgba(0, 0, 0, .05);
    }
    .mat-mdc-raised-button,
    .mat-mdc-outlined-button {
        border-radius: 7px;
    }
    .mat-mdc-raised-button {
        padding: 22px 12px;
    }
    .vehicle-details-container,
    .bottom-img-container {
        transition: all 0.3s ease;
    }
    .expand-card-container {
        position: relative;
        height: calc(100vh - 84px);
        .expand-more-container {
            position: absolute;
            bottom: -12px;
            left: 45%;
            .tootltip-container {
                position: relative;
                bottom: 7px;
            }
        }
    }
    .custom-bt-border {
        border-bottom: 1px solid rgba(0, 40, 163, .4);
    }
    .common-color {
        color: #000000;
    }
    .steps-conatiner {
        .mat-mdc-progress-bar {
            --mdc-linear-progress-active-indicator-height: 6px;
            --mdc-linear-progress-track-height: 6px;
            --mdc-linear-progress-track-color: #CACACA;
            border-radius: 10px !important;
        }
    }
    .steps-buttons-container {
        .mat-mdc-raised-button {
            padding: 20px 12px;
        }
        .mat-mdc-outlined-button {
            padding: 18px 7px;
        }
    }
    .custom-card-outline {
        position: relative;
        border-radius: 10px;
        border-color: #0000000d;
        margin-top: 6rem;
        padding: 2rem;
    }
    
    .proceed-button-container .mat-mdc-raised-button {
        padding: 25px 23px;
    }
    .checkbox-title{
        color: #83898C;
    }
    .title-style{
        color: #06B6CB;
    }
    .premium-details-container{
        .mat-mdc-raised-button {
            padding: 21px 12px;
        }  
    }
    .common-font-style{
        color: 000000;
        opacity: 60%;
    }
    .mobile-input-container{
        ::ng-deep .mat-mdc-form-field {
            --field-border-radius: 5px;
        .mat-mdc-form-field-infix {
            padding-top: 3px;
            padding-bottom: 3px;
            min-height: 0;
        }
    }
    }
    .otp-container{
        ::ng-deep .mat-mdc-form-field {
            --field-border-radius: 4px;
            .mdc-text-field{
                padding: 0 6px 0 6px;
            }
        .mat-mdc-form-field-infix {
            padding-top: 0px;
            padding-bottom: 0px;
            min-height: 0;
            width: 13px;
            .mat-mdc-form-field-input-control {
                text-align: center;
            }
        }
    }
}
}
@media screen and (max-width: 1199px) {
    .proposal-details-container {
    .expand-card-container {
        height: 953px;
    }
}
}

@media screen and (max-width: 767px) {
    .proposal-details-container {
    .expand-card-container {
        height: auto;
    }
}
}
