.header-menu-list{
    color: #6a6a6a;
    font-size: 1.6rem;

    li:hover{
        color: var(--secondary);
    }
    .material-icons {
        font-size: 2rem;
    }
   ::ng-deep .mat-icon{
        height: 15px;
        width: 14px;
    }
    
    
}
.user-container{
    .user-name{
        color: #6a6a6a;
    }
    .user-role{
        color: #B6B6B6;
    }
.user-img-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.user-role-dropdown-container{
    width: 12px;
    height: 12px;
    border: 1px solid #6A6A6A;
    border-radius: 50%;
    img{
        width: 10px;
    }
}
}


.mobile-menu-overlay {
    position: fixed;
    top: 70%;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  
  .mobile-menu-container {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
    z-index: 999;
    padding: 1.5rem;
    transition: top 0.3s ease;
  
    &.open {
      top: 0;
    }
  
    .mobile-header-menu-list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      font-size: 1rem;
      padding-left: 0;
      margin: 0;
  
      li {
        cursor: pointer;
        list-style: none;
      }
    }
  }
  