<div class="header-container pt-3">
  
  <div class="d-flex align-items-center justify-content-between">
    <div class="img-container logo-container">
      <img src="header/logo.svg" alt="Logo" />
    </div>

    <div class="menu-container d-none d-xl-block">
      <ul class="header-menu-list">
        @for (item of menuItems; track item; let i = $index) {
        <li [class.active]="activeIndex === i" (click)="setActive(i)" (mouseenter)="hoveredIndex = i"
          (mouseleave)="hoveredIndex = -1">
          {{ item.title }}
          <img *ngIf="item.hasArrow"
            [src]="(hoveredIndex === i || activeIndex === i) ? 'header/hover-arrow-up.svg' : 'header/arrow-up.svg'"
            alt="arrow" />
        </li>
        }
      </ul>
    </div>

    <div class="d-none d-xl-block">
      <div class="user-container d-flex align-items-center gap-3">
        <div class="user-info">
          <p class="user-name">ROHITASH YOGI</p>
          <div class="user-role-container d-flex align-items-center justify-content-end">
            <div class="user-role-dropdown-container d-flex align-items-center justify-content-center cursor-pointer">
              <img src="header/arrow.svg" alt="arrow" />
            </div>
            <p class="user-role f-11 m-0 opacity-75">Admin</p>
          </div>
        </div>
        <div class="user-img-container">
          <img src="user.svg" alt="user" />
        </div>
      </div>
    </div>

    <!-- Mobile Menu Icon -->
    <div class="menu-icon-container d-xl-none" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
      data-bs-target="#mobileMenuOffcanvas">
      <img src="header/menu.svg" alt="menu" />
    </div>
  </div>
</div>