<div class="header-container">
    <div class="d-flex align-items-center justify-content-between">
        <div class="img-container logo-container">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="menu-container">
            <ul class="list-unstyled d-flex gap-5 mb-0 header-menu-list">
                <li>Product</li>
                <li>Renew Your Policy</li>
                <li>File A Claim</li>
                <li>Contact Us</li>
                <li>Become A POSp</li>
                <li>Endorsement</li>
            </ul>
        </div>
        <div class="user-container"></div>
    </div>
</div>