.color-card-top-section {
    background-color: #FFF7ED;
    border-radius: 16px 16px 0px 0px;

    .duration-container {
        background-color: #F3F6FF;
        border-radius: 16px 16px 0px 0px;
    }

    .activity-points-container {
        color: #5D5F62;

        span {
            color: #E47900;
        }
    }
}

.mat-mdc-card {
    box-shadow: 0px 4px 6px #5f5f5f1a !important;
    border-radius: 0px 16px 16px 16px !important;
}

::ng-deep .first-row {
    .text-label {
        color: #6B7280;
    }

    .value-text {
        color: #000C19;
    }

    .mat-mdc-raised-button {
        padding: 22px 30px;
        border-radius: 10px;
    }

    .mdc-button__label {
        font-size: 1.7rem !important;
        font-family: 'inter-sb';
    }
}
::ng-deep .single-ticket-container{
.mat-mdc-checkbox {
    .mdc-checkbox__background {
        width: 22px !important;
        height: 22px !important;
        border-radius: 4px !important;
    }
    &.mat-mdc-checkbox-checked {
        .mdc-checkbox__background {
            outline: none !important;
            border: nonef !important;
        }
        .mdc-checkbox__checkmark {
            top: 3px;
            left: 3px;
            width: 66%;
        }
    }
  }
}

::ng-deep .rotate-icon {
    rotate: 180deg;
    padding-top: 2px;
    margin: 0px !important;
}

.declined-quotes-container{
    background-color: #FFF4F4;
    position: relative;
    .declined-img-container{
        position: absolute;
        top: -23px;
        left: -10px;
    }
    .specific-plan-container{
        color: #595959;
    }
}


@media screen and (max-width: 767px) {
    .mat-mdc-card {
        border-radius: 0px 0px 16px 16px !important;
    }
}

@media screen and (max-width: 576px) {

    ::ng-deep .first-row {

        .mat-mdc-raised-button {
            padding: 14px;
            border-radius: 10px;
        }

        .mdc-button__label {
            font-size: 1.7rem !important;
            font-family: 'inter-sb';
        }
    }
}
