<div class="single-ticket-container mb-4">
        <div class="d-inline-block">
            <div class="color-card-top-section">
                <div class="d-flex align-items-center">
                    <div class="duration-container px-4 py-3">
                        <p class="m-0 primary f-14 medium-font">(1 Year Own Damage + 6 Year TP)</p>
                    </div>
                    <div class="activity-points-container">
                        <p class="m-0 ps-3 pe-4 f-14 medium-font">Activity Points: <img src="rupee-coin.svg" alt="Rupee Coin">
                            <span class="f-14 medium-font">189.54</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <mat-card class="py-2 best-seller-content-container">
                <mat-card-content>
                    <div class="card-content-container">
                        <div class="first-row">
                            <div class="d-flex justify-content-between align-items-center gap-4">
                                <div class="d-flex align-items-center gap-4">
                                    <mat-checkbox color="primary" class="pb-3"></mat-checkbox>
                                    <img class="img-fluid" src="sbi-general.png" alt="SBI General">
                                </div>
                                <div class="d-flex gap-sm-4 align-items-center flex-column flex-sm-row justify-content-end">
                                    <div class="idv-container">
                                        <p class="text-label f-14 m-0 d-inline d-sm-block">IDV:</p>
                                        <p class="value-text f-14 m-0 semibold-font d-inline d-sm-block">13,00,000</p>
                                    </div>
                                    <div class="btn-container">
                                        <button mat-raised-button color="primary" (click)="kycProcess()">₹3,499
                                            <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="second-row mt-4">
                            <div class="row align-items-center gy-3">
                                <div class="col-12 col-lg-6">
                                    <div class="d-flex gap-4 align-items-center">
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="add-ons-icon.svg" alt="Add-ons">
                                            <span class="semibold-font f-14 primary">Add-ons</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <img src="cashless-garages-icon.svg" alt="cashless garages">
                                            <span class="semibold-font f-14 primary cursor-pointer" (click)="cashlessGarages()">Cashless Garages</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2"> 
                                            <img src="premium-breakup-icon.svg" alt="Premium Breakup">
                                            <span class="semibold-font f-14 primary cursor-pointer" (click)="premiumBreakup()">Premium Breakup </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="d-flex gap-4 align-items-center justify-content-lg-end">
                                        <div class="d-flex align-items-center gap-2">
                                            <span class="f-14 opacity-75">Claim Settlement:</span>
                                            <span class="semibold-font f-14 primary">95%</span>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <span class="f-14 opacity-75">Detraiff Discount:</span>
                                            <span class="semibold-font f-14 primary">55%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
</div>

<div class="single-ticket-container mb-4">
    <div class="d-inline-block">
        <div class="color-card-top-section">
            <div class="d-flex align-items-center">
                <div class="duration-container px-4 py-3">
                    <p class="m-0 primary f-14 medium-font">(1 Year Own Damage + 6 Year TP)</p>
                </div>
                <div class="activity-points-container">
                    <p class="m-0 ps-3 pe-4 f-14 medium-font">Activity Points: <img src="rupee-coin.svg" alt="Rupee Coin">
                        <span class="f-14 medium-font">189.54</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="py-2 best-seller-content-container">
            <mat-card-content>
                <div class="card-content-container">
                    <div class="first-row">
                        <div class="d-flex justify-content-between align-items-center gap-4">
                            <div class="d-flex align-items-center gap-4">
                                <mat-checkbox color="primary" class="pb-3"></mat-checkbox>
                                <img class="img-fluid" src="sbi-general.png" alt="SBI General">
                            </div>
                            <div class="d-flex gap-sm-4 align-items-center flex-column flex-sm-row justify-content-end">
                                <div class="idv-container">
                                    <p class="text-label f-14 m-0 d-inline d-sm-block">IDV:</p>
                                    <p class="value-text f-14 m-0 semibold-font d-inline d-sm-block">13,00,000</p>
                                </div>
                                <div class="btn-container">
                                    <button mat-raised-button color="primary">₹3,499
                                        <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-row mt-4">
                        <div class="row align-items-center gy-3">
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="add-ons-icon.svg" alt="Add-ons">
                                        <span class="semibold-font f-14 primary">Add-ons</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="cashless-garages-icon.svg" alt="cashless garages">
                                        <span class="semibold-font f-14 primary">Cashless Garages</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="premium-breakup-icon.svg" alt="Premium Breakup">
                                        <span class="semibold-font f-14 primary">Premium Breakup </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center justify-content-lg-end">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Claim Settlement:</span>
                                        <span class="semibold-font f-14 primary">95%</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Detraiff Discount:</span>
                                        <span class="semibold-font f-14 primary">55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="single-ticket-container mb-4">
    <div class="d-inline-block">
        <div class="color-card-top-section">
            <div class="d-flex align-items-center">
                <div class="duration-container px-4 py-3">
                    <p class="m-0 primary f-14 medium-font">(1 Year Own Damage + 6 Year TP)</p>
                </div>
                <div class="activity-points-container">
                    <p class="m-0 ps-3 pe-4 f-14 medium-font">Activity Points: <img src="rupee-coin.svg" alt="Rupee Coin">
                        <span class="f-14 medium-font">189.54</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="py-2 best-seller-content-container">
            <mat-card-content>
                <div class="card-content-container">
                    <div class="first-row">
                        <div class="d-flex justify-content-between align-items-center gap-4">
                            <div class="d-flex align-items-center gap-4">
                                <mat-checkbox color="primary" class="pb-3"></mat-checkbox>
                                <img class="img-fluid" src="sbi-general.png" alt="SBI General">
                            </div>
                            <div class="d-flex gap-sm-4 align-items-center flex-column flex-sm-row justify-content-end">
                                <div class="idv-container">
                                    <p class="text-label f-14 m-0 d-inline d-sm-block">IDV:</p>
                                    <p class="value-text f-14 m-0 semibold-font d-inline d-sm-block">13,00,000</p>
                                </div>
                                <div class="btn-container">
                                    <button mat-raised-button color="primary">₹3,499
                                        <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-row mt-4">
                        <div class="row align-items-center gy-3">
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="add-ons-icon.svg" alt="Add-ons">
                                        <span class="semibold-font f-14 primary">Add-ons</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="cashless-garages-icon.svg" alt="cashless garages">
                                        <span class="semibold-font f-14 primary">Cashless Garages</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="premium-breakup-icon.svg" alt="Premium Breakup">
                                        <span class="semibold-font f-14 primary">Premium Breakup </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center justify-content-lg-end">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Claim Settlement:</span>
                                        <span class="semibold-font f-14 primary">95%</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Detraiff Discount:</span>
                                        <span class="semibold-font f-14 primary">55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="single-ticket-container mb-4">
    <div class="d-inline-block">
        <div class="color-card-top-section">
            <div class="d-flex align-items-center">
                <div class="duration-container px-4 py-3">
                    <p class="m-0 primary f-14 medium-font">(1 Year Own Damage + 6 Year TP)</p>
                </div>
                <div class="activity-points-container">
                    <p class="m-0 ps-3 pe-4 f-14 medium-font">Activity Points: <img src="rupee-coin.svg" alt="Rupee Coin">
                        <span class="f-14 medium-font">189.54</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="py-2 best-seller-content-container">
            <mat-card-content>
                <div class="card-content-container">
                    <div class="first-row">
                        <div class="d-flex justify-content-between align-items-center gap-4">
                            <div class="d-flex align-items-center gap-4">
                                <mat-checkbox color="primary" class="pb-3"></mat-checkbox>
                                <img class="img-fluid" src="sbi-general.png" alt="SBI General">
                            </div>
                            <div class="d-flex gap-sm-4 align-items-center flex-column flex-sm-row justify-content-end">
                                <div class="idv-container">
                                    <p class="text-label f-14 m-0 d-inline d-sm-block">IDV:</p>
                                    <p class="value-text f-14 m-0 semibold-font d-inline d-sm-block">13,00,000</p>
                                </div>
                                <div class="btn-container">
                                    <button mat-raised-button color="primary">₹3,499
                                        <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-row mt-4">
                        <div class="row align-items-center gy-3">
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="add-ons-icon.svg" alt="Add-ons">
                                        <span class="semibold-font f-14 primary">Add-ons</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="cashless-garages-icon.svg" alt="cashless garages">
                                        <span class="semibold-font f-14 primary">Cashless Garages</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="premium-breakup-icon.svg" alt="Premium Breakup">
                                        <span class="semibold-font f-14 primary">Premium Breakup </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center justify-content-lg-end">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Claim Settlement:</span>
                                        <span class="semibold-font f-14 primary">95%</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Detraiff Discount:</span>
                                        <span class="semibold-font f-14 primary">55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="single-ticket-container mb-5">
    <div class="d-inline-block">
        <div class="color-card-top-section">
            <div class="d-flex align-items-center">
                <div class="duration-container px-4 py-3">
                    <p class="m-0 primary f-14 medium-font">(1 Year Own Damage + 6 Year TP)</p>
                </div>
                <div class="activity-points-container">
                    <p class="m-0 ps-3 pe-4 f-14 medium-font">Activity Points: <img src="rupee-coin.svg" alt="Rupee Coin">
                        <span class="f-14 medium-font">189.54</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <mat-card class="py-2 best-seller-content-container">
            <mat-card-content>
                <div class="card-content-container">
                    <div class="first-row">
                        <div class="d-flex justify-content-between align-items-center gap-4">
                            <div class="d-flex align-items-center gap-4">
                                <mat-checkbox color="primary" class="pb-3"></mat-checkbox>
                                <img class="img-fluid" src="sbi-general.png" alt="SBI General">
                            </div>
                            <div class="d-flex gap-sm-4 align-items-center flex-column flex-sm-row justify-content-end">
                                <div class="idv-container">
                                    <p class="text-label f-14 m-0 d-inline d-sm-block">IDV:</p>
                                    <p class="value-text f-14 m-0 semibold-font d-inline d-sm-block">13,00,000</p>
                                </div>
                                <div class="btn-container">
                                    <button mat-raised-button color="primary">₹3,499
                                        <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="second-row mt-4">
                        <div class="row align-items-center gy-3">
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="add-ons-icon.svg" alt="Add-ons">
                                        <span class="semibold-font f-14 primary">Add-ons</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="cashless-garages-icon.svg" alt="cashless garages">
                                        <span class="semibold-font f-14 primary">Cashless Garages</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <img src="premium-breakup-icon.svg" alt="Premium Breakup">
                                        <span class="semibold-font f-14 primary">Premium Breakup </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="d-flex gap-4 align-items-center justify-content-lg-end">
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Claim Settlement:</span>
                                        <span class="semibold-font f-14 primary">95%</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2">
                                        <span class="f-14 opacity-75">Detraiff Discount:</span>
                                        <span class="semibold-font f-14 primary">55%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="declined-quotes-container rounded-4 my-5">
    <div class="declined-img-container">
        <img src="quotation/declined.svg" alt="decline">
    </div>
    <div class="content-container p-4 pb-5">
        <div class="heading-container text-center">
            <p class="semibold-font f-16 mb-0 ms-5">We are not getting quote(s) from the following insurers.</p>
            <p class="f-12 m-0">Might be possible reason at insurance company's end like MMV or RTO restricted or might be some technical issue.</p>
        </div>
         <div class="row g-4 mt-5 mx-0">
            @for (el of specificPlanDtl; track $index) {
            <div class="col-sm-6 col-xl-4 h-100">
                 <div class="inner-container bg-white p-3 rounded-4 text-center">
                     <img [src]="el.imgPath" alt="plans">
                     <p class="f-14 m-0">{{el.planTxt}}</p>
                    </div>
             </div>
            }
         </div>
    </div>
</div>