<div class="kyc-app-container">
    <app-inner-header [title]="logoTitle"></app-inner-header>
    <div class="kyc-details-container">
        <div class="container">

            <div class="row gx-5">

                <div class="col-md-4">
                    <mat-card class="expand-card-container rounded-4 h-100">
                        <div class="content-container d-flex flex-column justify-content-between h-100">
                            <div class="inner-content-container p-4">
                                <div class="img-container d-flex justify-content-between align-items-center mb-4">
                                    <div class="img-container">
                                        <img src="sbi-general.png" alt="sbi-general">
                                        <p *ngIf="isMobile && !arrowVisible" class="semibold-font primary m-0 mt-2">
                                            Total Premium ₹1842</p>
                                    </div>
                                    <button mat-raised-button color="primary" class="d-inline-flex d-md-none">
                                        <img src="kyc/raise-query.svg" alt="query" />
                                        <span class="semibold-font ms-3">Raise query</span>
                                    </button>
                                </div>
                                <div *ngIf="!isMobile || (isMobile && showMobileExtras)"
                                    class="vehicle-details-container d-flex flex-column gap-3">
                                    <div class="vehicle-number custom-bt-border pb-3">
                                        <p class="f-12 medium-font primary m-0">Honda Activa 3G STD (58 CC )</p>
                                        <p class="f-12 medium-font primary m-0">Petrol Two Wheeler RJ14 Jaipur</p>
                                    </div>
                                    <div class="qutation-number common-color custom-bt-border f-12 opacity-50 pb-3">
                                        <p class="m-0">Quotation Number</p>
                                        <p class="semibold-font m-0">PIBLMTRTW2025022012540788123</p>
                                    </div>
                                    <div class="policy-date common-color custom-bt-border f-12 opacity-50 pb-3">
                                        <p class="m-0">Policy Start Date: <span class="semibold-font">01-Apr-2003</span>
                                        </p>
                                        <p class="m-0">Policy End Date: <span class="semibold-font">31-Mar-2026</span>
                                        </p>
                                    </div>
                                    <div class="net-premium common-color custom-bt-border pb-3">
                                        <div
                                            class="d-flex justify-content-between align-items-center f-12 opacity-50 gap-1">
                                            <p class="m-0">Net Premium</p>
                                            <p class="bold-font m-0">₹ 1524</p>
                                        </div>
                                        <div
                                            class="d-flex justify-content-between align-items-center f-12 opacity-50 gap-1">
                                            <p class="m-0">GST</p>
                                            <p class="bold-font m-0">₹ 285</p>
                                        </div>
                                    </div>
                                    <div
                                        class="total-premium d-flex justify-content-between align-items-center custom-bt-border f-16 primary pb-4">
                                        <p class="m-0 semibold-font">Total Premium</p>
                                        <p class="m-0 bold-font">₹ 1871</p>
                                    </div>
                                    <div class="plan-type common-color f-12 opacity-50">
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <p class="m-0">IDV</p>
                                            <p class="medium-font m-0">₹ 0</p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <p class="m-0">NCB</p>
                                            <p class="medium-font m-0">0%</p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center gap-1">
                                            <p class="m-0">Plan Type</p>
                                            <p class="medium-font m-0 text-end">Two Wheeler Liability Policy</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!isMobile || (isMobile && showMobileExtras)"
                                class="bottom-img-container align-self-end">
                                <img src="kyc/hand-motion-financial.svg" alt="financial" class="img-fluid">
                            </div>
                        </div>

                        <!-- Expand More Button -->
                        <div *ngIf="isMobile && !arrowVisible"
                            class="expand-more-container d-flex align-items-start gap-1"
                            [matTooltip]="'Expand to see more'" (click)="toggleInfo('expand')">
                            <img src="quotation/see-more.svg" alt="Expand" width="24px" />
                            <div class="tootltip-container expand-more d-flex align-items-end gap-1">
                                <img src="quotation/expand-tooltip.svg" alt="tooltip">
                                <p class="f-10 primary m-0">Expand To See More</p>
                            </div>
                        </div>

                        <!-- Collapse Button -->
                        <div *ngIf="isMobile && arrowVisible"
                            class="expand-more-container d-flex align-items-start gap-1 mt-3"
                            [matTooltip]="'Collapse to see less'" (click)="toggleInfo('collapse')">
                            <img src="quotation/less-more.svg" alt="Collapse" width="24px" />
                            <div class="tootltip-container less-more d-flex align-items-end gap-1">
                                <img src="quotation/expand-tooltip.svg" alt="tooltip">
                                <p class="f-10 primary m-0">Collapse To See Less</p>
                            </div>
                        </div>

                    </mat-card>
                </div>

                <div class="col-md-8 mt-4 mt-md-0 scrollable-sidepanel">

                    <mat-card class="d-none d-md-block p-3 rounded-4">
                        <div class="d-flex steps-conatiner flex-wrap gap-3 justify-content-between align-items-center">
                            <div class="steps-counter">
                                <div class="heading">
                                    <p class="m-0 medium-font f-18">Add New EKYC</p>
                                </div>
                                <div class="d-flex justify-content-between align-items-center gap-2">
                                    <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
                                    <p class="primary f-10 bold-font m-0">2/2</p>
                                </div>
                            </div>
                            <div class="steps-buttons-container d-flex align-items-center gap-3">
                                <button mat-stroked-button color="primary" class="btn-primary-border semibold-font">Pan
                                    Card</button>
                                <button mat-stroked-button color="primary" class="btn-primary-border semibold-font">Pan
                                    Card</button>
                                <button mat-stroked-button color="primary" class="btn-primary-border semibold-font">Pan
                                    Card
                                </button>
                                <button mat-raised-button color="primary">
                                    <img src="kyc/raise-query.svg" alt="query" />
                                    <span class="semibold-font ms-3">Raise query</span>
                                </button>
                            </div>
                        </div>
                    </mat-card>

                    <mat-card class="custom-card-outline kyc-left-section-container p-5 pb-4 rounded-4">
                        <div class="common-label-container">
                            <span>EKYC Details</span>
                        </div>
                        <div class="row gy-4 form-fields-container">
                            <div class="col-sm-6 col-lg-4">
                                <div class="common-docs-style inner-container text-center rounded-3 p-4 h-100">
                                    <img src="kyc/user-photograph.svg" alt="user-photograph">
                                    <p class="medium-font primary m-0">Upload User Photograph</p>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 docs-container">
                                <div class="common-docs-style inner-container rounded-3 p-4 h-100">
                                    <div class="img-container text-center">
                                        <img src="kyc/id-card.svg" alt="id-card">
                                    </div>
                                    <div class="dropdown-container mt-4">
                                        <p class="f-12 m-0 mb-1 card-label">Identity Proof Document</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select disableOptionCentering placeholder="Select Document">
                                                <mat-option value="0">Document 1</mat-option>
                                                <mat-option value="1">Document 2</mat-option>
                                            </mat-select>
                                            <img matSuffix class="d-inline-block pe-3" src="kyc/down-arrow.svg"
                                                alt="arrow">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 docs-container">
                                <div class="common-docs-style inner-container rounded-3 p-4 h-100">
                                    <div class="img-container text-center">
                                        <img src="kyc/id-card.svg" alt="id-card">
                                    </div>
                                    <div class="dropdown-container mt-4">
                                        <p class="f-12 m-0 mb-1 card-label">Address Proof Document</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <mat-select disableOptionCentering placeholder="Select Document">
                                                <mat-option value="0">Document 1</mat-option>
                                                <mat-option value="1">Document 2</mat-option>
                                            </mat-select>
                                            <img matSuffix class="d-inline-block pe-3" src="kyc/down-arrow.svg"
                                                alt="arrow">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="proceed-button-container mt-5">
                            <button mat-raised-button color="primary" class="semibold-font">Proceed
                                <mat-icon class="rotate-icon order-2 ms-2 f-20">keyboard_backspace</mat-icon>
                            </button>
                        </div>
                    </mat-card>

                    <mat-card class="custom-card-outline kyc-left-section-container p-4 pb-2 rounded-4">
                        <div class="common-label-container">
                            <span>Right Way to upload your document</span>
                        </div>
                        <div class="content-container">
                            <ul class="primary f-14 medium-font">
                                <li>All details and photo of the customer should be clearly visible.</li>
                                <li>There should be no flash on the photo/scan of the document.</li>
                                <li>Make sure your hand and cloths are not part of the uploaded file.</li>
                                <li>Document should be allowed only jpg, jpeg, png and pdf only.</li>
                                <li>Document size should be maximum 3 MB.</li>
                            </ul>
                        </div>
                    </mat-card>

                </div>

            </div>

        </div>
    </div>
</div>