<div class="customzie-policy-canvas-container">
    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="customizePolicyOffcanvas">

        <div class="offcanvas-header">
            <p class="heading-2 semibold-font primary m-0" id="offcanvasRightLabel">Customize Policy Details</p>
            <img class="cursor-pointer" data-bs-dismiss="offcanvas" src="/filter-quotation/cross.svg" alt="cancelImg"
                width="14px">
        </div>

        <div class="offcanvas-body">
            <div class="content-container p-3">
                <div class="policy-type-container pb-3">
                    <p class="f-18 medium-font">Policy Type</p>
                    <mat-radio-group color="primary" class="medium-font">
                        <div>
                            <mat-radio-button value="1">Comprehensive</mat-radio-button>
                        </div>
                        <mat-radio-button value="2">Third Party only</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-accordion multi>
                    <mat-expansion-panel [expanded]="panelOpenState[0]" (opened)="panelOpenState[0] = true"
                        (closed)="panelOpenState[0] = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Set Your IDV </mat-panel-title>
                            <img src="/filter-quotation/arrow.svg" class="custom-indicator"
                                [class.rotate]="!panelOpenState[0]" alt="arrow" />
                        </mat-expansion-panel-header>
                        <mat-radio-group color="primary" class="medium-font">
                            <div>
                                <mat-radio-button value="1">Automatic (For best Quotes)</mat-radio-button>
                            </div>
                            <mat-radio-button value="2">Set your own IDV</mat-radio-button>
                        </mat-radio-group>
                        <div class="mt-4">
                            <p class="f-18 medium-font m-0">Cover Amount (IDV)</p>
                            <mat-slider class="w-100 m-0 ms-2" max="100" min="0">
                                <input matSliderThumb #slider>
                            </mat-slider>
                            <div class="d-flex gap-2 align-items-center">
                                <mat-form-field appearance="outline">
                                    <input matInput placeholder="₹00.00">
                                </mat-form-field>
                                <span class="opacity-75 f-12">(Min - 38000, Max - 85500)</span>
                            </div>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="panelOpenState[1]" (opened)="panelOpenState[1] = true"
                        (closed)="panelOpenState[1] = false" class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Filter Insurance Company </mat-panel-title>
                            <img src="/filter-quotation/arrow.svg" class="custom-indicator"
                                [class.rotate]="!panelOpenState[1]" alt="arrow" />
                        </mat-expansion-panel-header>
                        Lorem Ipsum
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="panelOpenState[2]" (opened)="panelOpenState[2] = true"
                        (closed)="panelOpenState[2] = false" class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Detraiff Discount </mat-panel-title>
                            <img src="/filter-quotation/arrow.svg" class="custom-indicator"
                                [class.rotate]="!panelOpenState[2]" alt="arrow" />
                        </mat-expansion-panel-header>
                        <mat-radio-group color="primary" class="medium-font">
                            <div>
                                <mat-radio-button value="1">Max Discount</mat-radio-button>
                            </div>
                            <mat-radio-button value="2">Choose My Own</mat-radio-button>
                        </mat-radio-group>
                        <div class="text-end">
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput placeholder="₹00.00">
                            </mat-form-field>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="panelOpenState[3]" (opened)="panelOpenState[3] = true"
                        (closed)="panelOpenState[3] = false" class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> Additional Cover </mat-panel-title>
                            <img src="/filter-quotation/arrow.svg" class="custom-indicator"
                                [class.rotate]="!panelOpenState[3]" alt="arrow" />
                        </mat-expansion-panel-header>
                        Lorem Ipsum
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="panelOpenState[4]" (opened)="panelOpenState[4] = true"
                        (closed)="panelOpenState[4] = false" class="mt-2">
                        <mat-expansion-panel-header>
                            <mat-panel-title> AddOns Cover </mat-panel-title>
                            <img src="/filter-quotation/arrow.svg" class="custom-indicator"
                                [class.rotate]="!panelOpenState[4]" alt="arrow" />
                        </mat-expansion-panel-header>
                        Lorem Ipsum
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="recalculate-button">
                    <button mat-raised-button color="primary" class="w-100 mt-4">Re-Calculate </button>
                </div>
            </div>
        </div>
</div>
</div>