::ng-deep .customzie-policy-canvas-container{
    .offcanvas{
       width: 100%;
        z-index: 11;
    }

    .offcanvas-backdrop{
        z-index: 10 !important;
    }
    .offcanvas-header{
        justify-content: space-between;
        background-color: rgba(8, 70, 131,.02);
        border-bottom: 1px solid rgba(0, 0, 0,.05);
        padding: 12px 15px; 
    }
    .offcanvas-body{
        height: calc(100vh - 120px);
    }

    .mat-expansion-panel{
        box-shadow: none !important;
        border: 1.5px solid #E5E7EB;
        border-radius: 8px !important;
    }
    .mat-expansion-indicator {
        display: none !important;
      }
    .mat-expansion-panel-header{
        .mat-expansion-panel-header-title{
            font-size: 1.6rem;
            font-family: 'Inter-sb';
            color: var(--primary);
        }

        .mat-expansion-indicator::after{
            color: var(--primary);
        }
    }

    .mat-mdc-radio-button .mdc-radio{
        padding: 10px 10px 10px 0px;
    }

    .mat-mdc-radio-button .mat-internal-form-field{
        color: #7C7C7C !important;
    }

    .mat-mdc-radio-checked{
        .mdc-radio__background{
            .mdc-radio__outer-circle{
                border: 6px solid var(--primary);
            }
            .mdc-radio__inner-circle{
                border: 0px solid rgba(255, 0, 0, 0);
            }
        }
    }

    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    .mat-mdc-form-field-infix{
        min-height: 0px;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

 .custom-indicator {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
    margin-left: auto;
  
    &.rotate {
      transform: rotate(180deg);
    }
  }
  .recalculate-button{
    .mat-mdc-raised-button{
        padding: 24px 0  !important;
    }
  }
}
  