.color-bg-container {
    background-color: #F3FAFB;
    min-height: calc(100vh - 61px);
}

.mat-mdc-card {
    box-shadow: 0px 4px 6px #5f5f5f1a !important;
    border-radius: 10px !important;
}

::ng-deep .check-select-container{
    .mat-mdc-form-field-subscript-wrapper{
        display: none;
    }

    .mat-mdc-form-field-infix{
        min-height: 0px;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }
}

::ng-deep .quotation-btns-container{
    .mat-mdc-raised-button{
        padding: 26px 20px;
        border-radius: 10px;
    }

    .mat-mdc-outlined-button{
        padding: 22px 20px;
        border-radius: 10px;
    }

    .mdc-button__label{
        font-size: 1.4rem !important;
        font-family: 'inter-sb';
    }
}

.pos-rel{
    position: relative;
    span{
        position: absolute;
        left: -20px;
        top: -14px;
        background-color: #F89A25;
        display: inline-block;
        color: black;
        font-size: 0.8rem;
        padding: 1px 10px;
        border-radius: 8px 0px;
    }
}

.customize-policy-container{
    .mat-mdc-raised-button{
    padding: 21px 10px;
    }
    ::ng-deep  .mat-mdc-form-field{
        .mat-mdc-form-field-infix {
            padding-top: 9px;
            padding-bottom: 9px;
            min-height: 0;
            width: 120px;
        }
        .mat-mdc-select-placeholder {
            color: #0028A3 !important;
        }
        .mat-mdc-text-field-wrapper{
            background-color: white;
        }
        .mat-mdc-select-arrow {
            display: none;
          }
    } 
}