<app-inner-header [title]="logoTitle"></app-inner-header>
<div class="color-bg-container">
    <div class="container pt-4">
        <mat-card>
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="vehicle-summury-container">
                        <div class="d-flex gap-5 align-items-end">
                            <div>
                                <p class="m-0 medium-font f-12">Honda Activa 3G STD (58 CC )</p>
                                <p class="m-0 medium-font f-12">Petrol Two Wheeler RJ14 Jaipur</p>
                            </div>
                            <div class="cursor-pointer">
                                <img src="icon_edit.svg" alt="Edit Icon">
                                <span class="medium-font f-12 primary">Edit</span>
                            </div>
                        </div>
                        <p class="m-0 medium-font opacity-75 f-12">PIBLMTRTW2025022012540788123</p>
                    </div>
                    <div>
                        <div class="btns-container d-flex gap-3">
                            <button mat-stroked-button color="primary" class="btn-primary-border bold-font">
                                <img src="icon_target.svg" alt="Target"> Know My Current Contest
                            </button>
                            <button mat-stroked-button color="primary" class="btn-primary-border bold-font">
                                <img src="icon_info.svg" alt="Target"> Raise query
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div class="row">
            <div class="col-12 col-md-3"></div>
            <div class="col-12 col-md-9">
                <app-single-quotation></app-single-quotation>
            </div>
        </div>
    </div>
</div>