<div class="header-container">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="img-container logo-container d-flex align-items-center gap-3">
                <img src="logo.png" alt="Logo">
                <p class="semibold-font f-20 m-0 text-white d-none d-sm-block">{{title}}</p>
            </div>
            <div class="user-container d-flex align-items-center gap-3">
                <div class="user-info text-white">
                    <p class="semibold-font m-0">ROHITASH YOGI</p>
                    <p class="f-14 m-0 opacity-75">Admin</p>
                </div>
                <div class="user-img-container">
                    <img src="user.svg" alt="user">
                </div>
            </div>
        </div>
    </div>
</div> 