.header-container{
    background-image: linear-gradient(90deg, #06B6CB, #253B95);
}
.user-img-container {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.user-role-container {
    gap: 0.5rem;
    .user-role-dropdown-container {
      width: 12px;
      height: 12px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      img {
        width: 5px;
      }
    }
  }