//-----------------------
//---------HTMl Root-----
//-----------------------
html{
  font-size: 62.5%;  // 62.5% of 16px = 10px 
  scroll-behavior: smooth;
}
@media screen and (max-width: 1399px){
  html{
    font-size: 58%; // 58% of 16px = 9.28px
  }
}
@media screen and (max-width: 991px){
  html{
    font-size: 56%; // 56% of 16px = 8.96px 
  }
}


//-----------------------
//---------Body---------
//-----------------------
body {
  margin: 0;
  font-family: 'Inter-r';
  font-size: 1.6rem;
}

//-----------------------
//---------Inter font----
//-----------------------
@font-face {
  font-family: 'Inter-r';
  src: url(../src/assets/Fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter-m';
  src: url(../src/assets/Fonts/Inter-Medium.ttf);
}

@font-face {
  font-family: 'Inter-sb';
  src: url(../src/assets/Fonts/Inter-SemiBold.ttf);
}

@font-face {
  font-family: 'Inter-b';
  src: url(../src/assets/Fonts/Inter-Bold.ttf);
}

//-----------------------
//---------Root----------
//-----------------------
:root {
  --primary: #0029a3;
  --secondary: #1cb9ce;
  --warn: #cc3300;
}

//-----------------------
//---Color Style class---
//-----------------------
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary)
}

.warn {
  color: var(--warn);
}

// ----------------------------------
// -----------Fonts Styling---------
// ----------------------------------
.f-10 {
  font-size: 1rem;
}
.f-11 {
  font-size: 1.1rem;
}

.f-12 {
  font-size: 1.2rem;
}

.f-14 {
  font-size: 1.4rem;
}

.f-16 {
  font-size: 1.6rem;
}

.f-18 {
  font-size: 1.8rem;
}

.f-20 {
  font-size: 2.0rem;
}

.f-22{
  font-size: 2.2rem;
}

.f-24{
  font-size: 2.4rem;
}

.f-28{
  font-size: 2.8rem;
}


.medium-font {
  font-family: 'Inter-m' !important;
}

.semibold-font {
  font-family: 'Inter-sb' !important;
}

.bold-font {
  font-family: 'Inter-b' !important;
}

// ----------------------------------
// -----------Button Styling---------
// ----------------------------------
.mdc-button.mdc-button--raised{
  --mdc-protected-button-disabled-container-color: #8C8C8C;
  --mdc-protected-button-disabled-label-text-color: #ffffff;
}
.btn-primary-border {
  --mdc-outlined-button-outline-color: var(--primary) !important;
}

// ----------------------------------
// -----------Dropdown Styling-------
// ----------------------------------
.mat-mdc-option {
  --mat-option-hover-state-layer-color: var(--primary);
  --mat-option-selected-state-layer-color: var(--primary);
  --mat-option-selected-state-label-text-color: #fff;
  &:hover:not(.mdc-list-item--disabled) {
    background-color: var(--primary) !important;
    color: #fff !important;
  }
}

// ----------------------------------
// -----------Checkbox Styling-------
// ----------------------------------
.mat-mdc-checkbox {
  --mdc-checkbox-state-layer-size: 0;
  .mdc-checkbox__native-control:focus+.mdc-checkbox__ripple , .mdc-checkbox:hover>.mdc-checkbox__ripple {
    background-color: transparent !important;
}
  .mdc-checkbox__background {
      width: 22px !important;
      height: 22px !important;
      border: 1px solid #CFD3D4 !important;
      border-radius: 7px !important;
  }
  &.mat-mdc-checkbox-checked {
      .mdc-checkbox__background {
          outline: 2px solid #6D7DCD !important;
          border: 1px solid #fff !important;
      }
      .mdc-checkbox__checkmark {
          top: 3px;
          left: 3px;
          width: 66%;
      }
  }
}

// ----------------------------------
// -----------Form Fields Stylimg----
// ----------------------------------
.mat-mdc-form-field {
  --field-border-radius: 10px;
  --field-outline-color: #CFD3D4;
  --field-placeholder-color: rgba(61, 61, 61,.2);
  --field-selected-color: #3D3D3D;
  --field-focused-color: #5E6366;

  --mdc-outlined-text-field-container-shape: var(--field-border-radius);
  --mdc-outlined-text-field-outline-color: var(--field-outline-color);
  --mdc-outlined-text-field-outline-width: 1.5px;
  --mdc-outlined-text-field-focus-outline-width: 1.5px;
  --mdc-outlined-text-field-hover-outline-color: var(--field-outline-color);
  --mdc-outlined-text-field-focus-outline-color: var(--field-focused-color);

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  .mat-mdc-select-value-text,
  .mat-mdc-floating-label,
  .mat-mdc-text-field .mdc-text-field__input{
    color: var(--field-selected-color) !important;
  }
  .mat-mdc-input-element::placeholder,
  .mat-mdc-select-placeholder{
    color: var( --field-placeholder-color ) !important;
  }
  .mdc-line-ripple,
  .mdc-line-ripple--deactivating {
    display: none;
  }
}

//-------------------------
//-----Layout Styling------
//-------------------------
@mixin background-common($bg-color) {
  background-image: url(../public/common-bg.png);
  background-color: $bg-color;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  z-index: 0;
}
.home-bg-layout {
  @include background-common(white);
}
.other-bg-layout {
  @include background-common(#F3FAFB);
}
.plain-bg-layout {
  background: none;
}

//--------------------------------------------
//----------Mat Dialog Styling-------------------
//---------------------------------------------
.small-dialog {
  width: 40%;
}

.medium-dialog {
  width: 55%;
}

.large-dialog {
  width: 70%;
}
@media screen and (min-width:991px) and (max-width:1400px) {

  .small-dialog,
  .medium-dialog,
  .large-dialog {
    width: 60%;
  }
}
@media screen and (max-width:991px) {

  .small-dialog,
  .medium-dialog,
  .large-dialog {
    width: 100%;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

@media screen and (min-width:991px) {
  .w-lg-50 {
    width: 50% !important;
  }
}
/* ----------------------------------------------
---Scrollbar Styling Class---
---------------------------------------------- */

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track:vertical {
  background: #E4EAF2;
  border-left: 9px solid white;
  border-right: 9px solid white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #B6C8DE;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-radius: 8px;
}

::-webkit-scrollbar-track:horizontal {
  background: #E4EAF2;
  border-top: 9px solid white;
  border-bottom: 9px solid white;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #B6C8DE;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  border-radius: 8px;
}
// ----------------------------------
// -----------Additional Styling-----------
// ----------------------------------
.cursor-pointer{
  cursor: pointer;
}
.inner-scroll{
  max-height: 70vh;
  overflow: auto;
}
// ----------------------------------
// -----------Media Query-----------
// ----------------------------------
@media screen and (max-width:575px) {
  .mat-mdc-form-field {
    .mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 13px ;
    padding-bottom: 13px ;
    min-height: 0;
  }
}
}