.homepage-container{
    background-image: url(../../../public/home-bg.png);
    background-image: url(../../../public/vehicle-details/commom-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    position: relative;
    z-index: 0;
}

.height-100{
    min-height: calc(100vh - 57px);
}

.custom-card-outline{
    border: 1px solid #0029a329;
    border-radius: 10px;
}

.green-color{
    color: #60D669;
}

::ng-deep .compare-quotes{
    .mat-mdc-raised-button{
        padding: 24px 36px;
        border-radius: 7px;
    }

    .mdc-button__label{
        font-size: 1.6rem !important;
        font-family: 'inter-sb';
    }
}

::ng-deep .rotate-icon{
    rotate: 180deg;
    height: auto !important;
    width: auto !important;
    font-size: 2rem !important;
    padding-top: 2px;
}

.bike-insurance-image-container{
  max-width: 360px;
}

@media screen and (max-width: 575px){
    .bike-insurance-image-container{
        max-width: 300px;
      }
}
@media screen and (max-width: 410px){
    .call-whatsapp-container{
       .call-chat-text{
        font-size: 1.1rem;
       } 
       .ph-number{
        font-size: 1.2rem;
       }
    }
}

