<div class="homepage-container">
    <div class="container h-100">
        <app-header></app-header>
        <div class="row mt-2 mt-sm-5 mt-lg-0 gy-4 justify-content-end justify-content-sm-between height-100">
            <div class="col-lg-6 align-self-center">
                <div>
                    <div class="form-card-container w-100">
                        <mat-card appearance="outlined" class="custom-card-outline p-0 p-sm-4">
                            <mat-card-content>
                                <div class="d-flex align-items-center gap-5 pb-3 flex-wrap">
                                    <div class="d-flex gap-3">
                                        <img src="call-icon-with-primary-color.svg" alt="Phone Icon">
                                        <div>
                                            <span class="f-12 call-chat-text">Call to Expert</span>
                                            <p class="semibold-font primary m-0 f-16">+91 73043 32968</p>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-3">
                                        <img src="whats-app-icon.svg" alt="Whats App Icon">
                                        <div>
                                            <span class="f-12 call-chat-text">Chat on Whatsapp</span>
                                            <p class="semibold-font primary m-0 green-color f-16">+91 73043 32968</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="heading-container mt-3">
                                    <span class="f-22 medium-font">Have A</span>
                                    <p class="m-0 f-28 bold-font primary">Vehicle Number?</p>
                                </div>
                                <form class="mt-2">
                                    <div class="input-container">
                                        <p class="f-12 m-0 mb-1">Enter Vehicle Registration Number</p>
                                        <mat-form-field appearance="outline" class="w-100">
                                            <input matInput placeholder="MH - 02 - CJ - 8888">
                                        </mat-form-field>
                                    </div>
                                    <div class="button-container compare-quotes mt-5">
                                        <button mat-raised-button color="primary" class="semibold-font">COMPARE QUOTES
                                            <mat-icon class="rotate-icon order-2 ms-3 f-18">keyboard_backspace</mat-icon>
                                        </button> 
                                    </div> 
                                </form>
                                <div class="link-text-container mt-5 d-flex flex-column gap-2">
                                    <p class="primary medium-font f-14 m-0"><a
                                            class="text-reset text-decoration-none" href="javascript:void(0)">Don't have
                                            a bike number yet?</a>
                                    </p>
                                    <p class="primary medium-font f-14 m-0"><a
                                            class="text-reset text-decoration-none" href="javascript:void(0)" (click)="getVehicelDtl()">Just
                                            bought a new bike?</a>
                                    </p>
                                    <p class="primary medium-font f-14 m-0"><a class="text-reset text-decoration-none"
                                            href="javascript:void(0)">Probus Policy Renewal?</a>
                                    </p>
                                </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 align-self-end bike-insurance-image-container">
                    <img class="img-fluid" src="bike-insurance-vector.svg" alt="Bike Insurance Vector">
            </div>
        </div>
    </div>
</div>